<form class="ui form">
  <div class="field ui fluid input">
    <input type="text" class="new-task" placeholder="I will...">
  </div>
  <div class="field">
    <label>Needs to be completed by...</label>
    <div class="ui buttons">
      <button class="ui primary button">Today</button>
      <div class="or"></div>
      <button class="ui button">Tomorrow</button>
      <div class="or"></div>
      <button class="ui button">This Weekend</button>
      <div class="or"></div>
      <button class="ui button">Set Date</button>
    </div>
  </div>
  <div class="field">
    <label>Should be completed...</label>
    <div class="ui buttons">
      <button class="ui primary button">Anytime</button>
      <div class="or"></div>
      <button class="ui button">1 Time Per Day</button>
      <div class="or"></div>
      <button class="ui button">1 Time Per Week</button>
      <div class="or"></div>
      <button class="ui button">
        <div class="ui right labeled input">
          <input type="text" placeholder="1">
          <div class="ui dropdown label">
            <div class="text">Time(s) Per Day</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">Time(s) Per Week</div>
              <div class="item">Time(s) Per Month</div>
              <div class="item">Time(s) Per Year</div>
            </div>
          </div>
        </div>
      </button>
    </div>
  </div>
  <div class="field" id="task-completion">
  </div>
  <button class="ui button" type="submit">Add</button>
  <p><a href="#" class="cancel">Cancel</a></p>

</form>











