<form class="ui form">
  <div class="field ui fluid input">
    <input type="text" class="new-task" placeholder="I will...">
  </div>

  <div class="ui hidden divider"></div>

  <div class="field">
    <label>It's worth...</label>
    <div class="ui buttons">
      <button class="ui primary button amount-button" data-amount=<%= small %>>$<%= small %></button>
      <div class="or"></div>
      <button class="ui button amount-button" data-amount=<%= mid %>>$<%= mid %></button>
      <div class="or"></div>
      <button class="ui button amount-button" data-amount=<%= large %>>$<%= large %></button>
      <div class="or"></div>
      <button class="ui button amount-button custom">Custom</button>
    </div>
  </div>

  <div class="ui hidden divider"></div>

  <div class="field">
    <label>Needs to be completed by...</label>
    <div class="ui buttons">
      <button class="ui primary button">Whenever</button>
      <div class="or"></div>
      <button class="ui button">Today</button>
      <div class="or"></div>
      <button class="ui button">Tomorrow</button>
      <div class="or"></div>
      <button class="ui button">This Weekend</button>
      <div class="or"></div>
      <button class="ui button">Set Date</button>
    </div>
  </div>

  <div class="ui hidden divider"></div>

  <div class="grouped field">
    <label>Should be completed...</label>
    <div class="ui buttons">
      <button class="ui button frequency-button once">Once</button>
      <div class="or"></div>
      <button class="ui button frequency-button daily">Daily</button>
      <div class="or"></div>
      <button class="ui button frequency-button weekly">Weekly</button>
      <div class="or"></div>
      <button class="ui button frequency-button anytime">Anytime</button>
      <div class="or"></div>
      <button class="ui button frequency-button custom">Custom</button>
    </div>
    <div class="ui right labeled input custom-frequency">
      <input type="text" placeholder="1" class="frequency">
      <div class="ui selection dropdown">
        <input type="hidden" class="scale">
        <i class="dropdown icon"></i>
        <div class="default text">Frequency</div>
        <div class="menu">
          <div class="item" data-value="day">Time(s) Per Day</div>
          <div class="item" data-value="week">Time(s) Per Week</div>
          <div class="item" data-value="month">Time(s) Per Month</div>
          <div class="item" data-value="year">Time(s) Per Year</div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui hidden divider"></div>

  <div class="grouped field">
    <label>Completeable by... </label>
    <div class="ui buttons">
      <button class="ui button completion-button Oyster"><img height="30px" src="static/img/icons/oyster-icon.png" alt="oyster"></button>
      <div class="or"></div>
      <button class="ui button completion-button IFTTT"><img height="30px" src="static/img/ifttt.png" alt="ifttt"></button>
    </div>
    <div>
      Add to IFTTT using the following URL:
      <a href="<%= url %>" class="completion-url"><%= url %></a>
    </div>
  </div>

  <div class="ui hidden divider"></div>

  <button class="ui button add-task">Add</button>
  <p><a href="#" class="cancel">Cancel</a></p>

</form>

<script>
$(function(){ $('.ui.dropdown').dropdown(); });
</script>











