<form class="ui form">
  <div class="field ui fluid input">
    <input type="text" class="new-task" placeholder="I will...">
  </div>
  <div class="field">
    <label>Needs to be completed by...</label>
    <div class="ui buttons">
      <button class="ui primary button">Whenever</button>
      <div class="or"></div>
      <button class="ui button">Today</button>
      <div class="or"></div>
      <button class="ui button">Tomorrow</button>
      <div class="or"></div>
      <button class="ui button">This Weekend</button>
      <div class="or"></div>
      <button class="ui button">Set Date</button>
    </div>
  </div>
  <div class="field">
    <label>Should be completed...</label>
    <div class="ui buttons">
      <button class="ui button frequency-button once">Once</button>
      <div class="or"></div>
      <button class="ui button frequency-button daily">1 Time Per Day</button>
      <div class="or"></div>
      <button class="ui button frequency-button weekly">1 Time Per Week</button>
      <div class="or"></div>
      <button class="ui button frequency-button custom">Custom</button>
    </div>
    <div class="ui right labeled input">
      <input type="text" placeholder="1" class="frequency">
      <div class="ui selection dropdown">
        <input type="hidden" class="scale">
        <i class="dropdown icon"></i>
        <div class="default text">Frequency</div>
        <div class="menu">
          <div class="item" data-value="day">Time(s) Per Day</div>
          <div class="item" data-value="week">Time(s) Per Week</div>
          <div class="item" data-value="month">Time(s) Per Month</div>
          <div class="item" data-value="year">Time(s) Per Year</div>
        </div>
      </div>
    </div>
  </div>
  <div class="field" id="task-completion">
  </div>
  <button class="ui button add-task">Add</button>
  <p><a href="#" class="cancel">Cancel</a></p>

</form>

<script>
$(function(){ $('.ui.dropdown').dropdown(); });
</script>











