<form class="ui form">
  <div class="field ui fluid input">
  <input type="text" class="title" placeholder="I will..." value="<%= title %>">
  </div>

  <div class="ui hidden divider"></div>

  <div class="field">
    <label>It's worth...</label>
    <div class="ui left icon input">
      <input type="text" placeholder="10.50" class="amount" value="<%= amount %>">
      <i class="dollar icon"></i>
    </div>
  </div>

  <div class="ui hidden divider"></div>

  <div class="grouped field">
    <label>It should recur...</label>
    <div class="ui selection dropdown">
      <input type="hidden" class="period-dropdown">
      <i class="dropdown icon"></i>
      <div class="default text">It should recur...</div>
      <div class="menu">
        <div class="item" data-value="never">Never</div>
        <div class="item" data-value="daily">Daily</div>
        <div class="item" data-value="weekly">Weekly</div>
        <div class="item" data-value="completion">On Completion</div>
        <div class="item" data-value="custom">Custom Interval</div>
      </div>
    </div>
  </div>
  <div class="ui right labeled input custom-frequency">
    <input type="text" placeholder="1" class="frequency" value="<%= frequency %>">
    <div class="ui selection dropdown">
      <input type="hidden" class="scale" value="<%= scale %>">
      <i class="dropdown icon"></i>
      <div class="default text">Frequency</div>
      <div class="menu">
        <div class="item" data-value="day">Time(s) Per Day</div>
        <div class="item" data-value="week">Time(s) Per Week</div>
        <div class="item" data-value="month">Time(s) Per Month</div>
        <div class="item" data-value="year">Time(s) Per Year</div>
      </div>
    </div>
  </div>

  <div class="ui hidden divider"></div>

  <div class="grouped field deadline">
    <label>It needs to be completed by....</label>
    <div class="ui selection dropdown">
      <input type="hidden" class="deadline-dropdown">
      <i class="dropdown icon"></i>
      <div class="default text">It needs to be completed by....</div>
      <div class="menu">
        <div class="item" data-value="never">No Deadline</div>
        <div class="item" data-value="daily">Today</div>
        <div class="item" data-value="weekly">Tomorrow</div>
        <div class="item" data-value="completion">This Weekend</div>
        <div class="item" data-value="custom">Set Date</div>
      </div>
    </div>
  </div>

  <div class="deadline-rules">
    <div class="ui hidden divider"></div>
    <div class="ui right field">
      <label>[Optional] Set deadline to specific time of day after generation</label>
      <input type="text" placeholder="18:00" class="frequency" value="<%= must_be_completed_by_time %>">
    </div>
    <div class="ui right field">
      <label>[Optional] Set deadline to number of days after generation</label>
      <input type="text" placeholder="1" class="frequency" value="<%= must_be_completed_in_x_days %>">
    </div>
    <div class="ui right field">
      <button class="ui button overdue-button">Delete Task if Overdue</button>
    </div>
  </div>

  <div class="ui hidden divider"></div>

  <button class="ui button completion-button IFTTT"><img height="30px" src="static/img/ifttt.png" alt="ifttt"></button>

  <div class="ifttt-instructions">
    <div class="ui hidden divider"></div>
    <p>http://oystr.herokuapp.com/api/v1/rules/<%= uuid %>/completed/</p>
  </div>

  <div class="ui divider hidden"></div>

  <button class="ui button save-task primary">
  <% if (isNew) {%>
    Add
  <% } else { %>
    Save
  <% } %>
  </button>
  <% if (isNew) {%>
    <p><a href="#" class="cancel">Cancel</a></p>
  <% } %>
</form>














