<div class="ui pointing menu">
  <a class="active item">
    <img src="static/img/icons/oyster-icon.png" alt="oyster">
  </a>
  <a class="item">
    <img src="static/img/garmin.jpg" alt="garmin">
  </a>
  <a class="item">
    <img src="static/img/withings.jpeg" alt="withings">
  </a>
  <a class="item">
    <img src="static/img/myfitnesspal.png" alt="myfitnesspal">
  </a>
  <a class="item">
    <img src="static/img/droplet.png" alt="droplet">
  </a>
  <a class="item">
    <img src="static/img/goodreads.jpg" alt="goodreads">
  </a>
  <a class="item">
    <img src="static/img/pocket.png" alt="pocket">
  </a>
</div>
<div class="ui segment">
  <p></p>
</div>