<div class="content ui grid">

  <div class="task sixteen column row">
    <div class="fourteen wide column">
      <div class="ui left fluid">
        <div class="header"><% if (!doable) { %><img height="15 px" src="static/img/ifttt-corner.png" alt="ifttt"><% } %><%= title %></div>
        $<%= amount %>
      </div>
    </div>

    <div class="two wide column">
      <div class="ui right fluid">
        <button class="circular ui blue icon button edit">
          <i class="icon edit"></i>
        </button>
        <button class="circular ui red icon button remove">
          <i class="icon trash"></i>
        </button>
      </div>
    </div>
  </div>


  <div class="edit-task sixteen column row">
    <div class="twelve wide column">
      <div class="ui left icon fluid input">
        <i class="checkmark box icon"></i>
        <input type="text" maxlength="254" class="new-title" placeholder="Task name" value="<%= title %>">
      </div>
    </div>

    <div class="two wide column">
      <div class="ui left icon fluid input">
        <i class="dollar icon"></i>
        <input type="text" maxlength="254" class="new-amount" placeholder="10" value="<%= amount %>">
      </div>
    </div>
    <div class="two wide column">
      <button class="ui fluid blue button save-task">
        Save
      </button>
    </div>
  </div>

</div>



