.table-view-cell > .btn-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.negative {
    color: #d9534f;
}
.primary {
    color: #428bca;
}
.positive {
    color: #5cb85c;
}

.display-none {
    display: none;
}