{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Oyster{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <base target="_self">

    <!-- Icons for various mobile devices -->
    <link rel="apple-touch-icon" href="{% static 'img/icons/oyster-icon-120-120.png' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/icons/oyster-icon-180-180.png' %}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/icons/oyster-icon-76-76.png' %}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/icons/oyster-icon-152-152.png' %}" />
    <link rel="apple-touch-icon" sizes="58x58" href="{% static 'img/icons/oyster-icon-58-58.png' %}" />

    <!-- Startup Screen -->
    <link rel="apple-touch-startup-image" href="{% static 'img/icons/startup.png' %}">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'semantic/dist/semantic.min.css' %}">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@">
    <meta name="twitter:title" content="Oyster - Turn sand into pearls.">
    <meta name="twitter:description" content="Oyster makes keeping up with your todos rewarding by letting you connect everyday tasks with your purchasing goals.">
    <meta name="twitter:image" content="">

    <!-- iTunes app -->
    {# <meta name="apple-itunes-app" content="app-id=969977669"> #}

    <!-- open graph -->
    <meta property="og:title" content="Oyster - Turn sand into pearls.">
    <meta property="og:image" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="http://sandtopearls.com">
    <meta property="og:description" content="Oyster makes keeping up with your todos rewarding by letting you connect everyday tasks with your purchasing goals.">
    <meta property="og:type" content="website">

    {% block styles %}
    {% endblock styles %}

  </head>
  <body>
    {% block header %}
    {% endblock header %}

    {% block main %}
    <div class="ui main container" id="main">
      {% block content %}
      {% endblock content %}
    </div>
    {% endblock main %}

    {% block footer %}
    {% endblock footer %}

    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/js-cookie/src/js.cookie.js' %}"></script>
    {% block javascripts %}
    {% endblock javascripts %}
  </body>
</html>
