{% extends 'base.html' %}
{% load staticfiles %}

{% block navigation %}
  <li role="presentation" class="checklist active"><a href="#checklist">Checklist</a></li>
  <li role="presentation" class="wishlist"><a href="#wishlist">Wishlist</a></li>
  <li role="presentation" class="history"><a href="#history">History</a></li>
{% endblock navigation %}

{% block javascripts %}
    <script data-main="/static/js/main" src="{% static 'bower_components/requirejs/require.js' %}"></script>
{% endblock javascripts %}