{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
<style>
.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
.bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
</style>
{% endblock styles %}

{% block header %}
<div class="ui fixed inverted teal menu" id="nav">
  <a href="/"><div class="header item">
    <img src="{% static 'img/icons/oyster-icon.png' %}">
  </div></a>
  <a class="item" href="">How it works</a>
  <a class="item" href="">Get the app</a>
  <a class="item" href="">Sign up</a>
  <div class="right menu">
    <a class="item" href="/accounts/login">Login</a>
  </div>
</div>
{% endblock header %}

{% block main %}
<div class="bg">
  <img src="{% static 'img/scenes/sea-urchin-blur.jpg' %}">
</div>
{% endblock main %}


{% block javascripts %}
{% endblock javascripts %}